<!DOCTYPE html>
<html>
<head>
  <title>NFe</title>
  <%= stylesheet_link_tag    "n_fe/application", :media => "all" %>
  <%= javascript_include_tag "n_fe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
